{% extends 'naijadict/base.html' %}
{% load static %}
{% load naijadicttags %}

{% block title %}{{definition.word}}{% endblock %}

{% block body %}
<div>
    <form method="POST" id="form" action="{% url 'wordviewsearch' %}">
        <div class="row">
            <div class="col-10">
                {% csrf_token %}
                {{ form }}
            </div>
            <div>
                <button type="submit" class="btn btn-success btn-lg" align="center" id="subbtn">SEARCH</button>
            </div>
        </div>
    </form>
</div>
<br>
<div class="res">
    <p class="display-4">&ensp;{{definition.word}}</p>
    {% if definition.meaning|spliter|strorlist == "list" %}
        <ol>
            {% for i in definition.meaning|spliter|comotline %}
                <li><p><span class="meaning">{{i}}</span></p></li>
            {% endfor %}
        </ol>
    {% else %}
        <ol>
            <li><p><span class="meaning">{{definition.meaning|comotline}}</span></p></li>
        </ol>
    {% endif %}
</div>
<div class="foot">
    <table>
            <tr>
                {% for i in t_four|indexer:"0,6" %}
                    <a href="{{i}}"><td>{{ i }}</td></a>
                {% endfor %}
            </tr>
            <tr>
                {% for i in t_four|indexer:"6,12" %}
                    <td>{{ i }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for i in t_four|indexer:"12,18" %}
                    <td>{{ i }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for i in t_four|indexer:"18,24" %}
                    <td>{{ i }}</td>
                {% endfor %}
            </tr>
    </table>
</div>
{% endblock %}