{% extends 'naijadict/base.html' %}
{% load static %}
{% load naijadicttags %}

{% block title %}{{definition.word}}{% endblock %}

{% block body %}
<br>
<div class="res">
    <h1 class="bigword">{{definition.word}}</h1>
    {% if definition.meaning|spliter|strorlist == "list" %}
        <ol>
            {% for i in definition.meaning|spliter|comotline %}
                <li><p><span class="meaning">{{i}}</span></p></li>
            {% endfor %}
        </ol>
    {% else %}
        <ol>
            <li><p><span class="meaning">{{definition.meaning|comotline}}</span></p></li>
        </ol>
    {% endif %}
    {% if definition.poster %}
        <div class="row">
            <div class="col-md-10">
                <p class="example"><em><b>Example:</b></em> <span id="example">{{definition.example}}</span></p>
                <p class="example"><em><b>Contributed by</b></em> <strong class="poster">{{definition.poster}}</strong></p>
            </div>
            <div  class="col">

            </div>
        </div>
    {% endif %}
<br>
<div align="center">
    <a href="{% url 'index' %}"><button type="submit" class="btn btn-success btn-lg">SEARCH FOR A WORD</button></a>
</div>
</div>
{% endblock %}