{% extends 'naijadict\base.html' %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4" id="leftdash">
        <div align="center">
            {% if user.userprofile.profile_pic %}
                <img src="{{MEDIA_URL}}{{user.userprofile.profile_pic}}" class="al" align="center">
            {% else %}
                {% if user.userprofile.gender == "male" %}
                    <img src="{% static "images/manav.png" %}" class="al" align="center">
                {% else %}
                <img src="{% static "images/womana.png" %}" class="al" align="center">
                {% endif %}
            {% endif %}
        </div>
        <br>
        <div align="center">
            <h3 id="naijadgreen">{{user.first_name|title}} {{user.last_name|title}}</h3>
            <strong>Member since</strong><br>
            {{user.date_joined|date:"D d M Y"}}.
            <br><br>
            <strong>Gender</strong><br>
            {{user.userprofile.gender|title}}
            <br><br>
            <strong>Age</strong><br>
            {{user.userprofile.age}}<br><br>
            <strong>Location</strong><br>
            {{user.userprofile.location|title}}<br>
            <br>
            <!-- <a href="{% url 'updateprofile' pk=user.userprofile.pk %}"><button type="submit" class="btn btn-success">UPDATE PROFILE</button></a> -->
        </div>
    </div>
    <div class="col">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <br>
        <h3 id="naijadgreen" align="center">Update your profile.</h3><br>
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-10">
            <form action="" method="post">
                {% csrf_token %}
                <!-- {{form}} -->
                
                <!-- {{form}} -->
                <!-- <input class="form-control" id="disabledInput" type="text" placeholder="{{user.username}}" disabled> -->
                <div class="row">
                    <div class="form-group col-md-6">
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="{{user.username}}" disabled>
                        <span class="text-muted">Sorry, you can't edit your username.</span>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="{{user.first_name|title}} {{user.last_name|title}}" disabled>
                        <span class="text-muted">Sorry, you can't edit your names.</span>
                    </div>
                </div>

                <div class="row">
                    
                    <div class="form-group col-md-6">
                        <input type="text" name="age" class="form-control" id="age" value="{{user.userprofile.age}}">
                        {{ form.age.errors }}
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" name="location" value="{{user.userprofile.location}}" class="form-control" id="location">
                        {{ form.location.errors }}
                    </div>
                </div>
                <!-- <div class="form-group">
                    {{ form.email }}
                    {{ form.email.errors }}
                </div> -->
                <div class="form-group">
                    <!-- <input type="text" name="profile_pic" class="form-control" id="profile_pic"> -->
                    <input type="file" name="profile_pic" id="profile_pic" class="form-control">
                    {{ form.profile_pic.errors }}
                </div>
                <!-- <div class="form-group">
                    {{ form.profile_pic }}
                    {{ form.profile_pic.errors }}
                </div> -->
                <div align="center">
                    <button type="submit" class="btn btn-success btn-lg">SUBMIT</button>&nbsp;
                    <button type="reset" class="btn btn-info btn-lg">RESET</button>&nbsp;
                    <a href="{% url 'dashboard' %}" class="btn btn-danger btn-lg">CANCEL</a>
                        
                    
                </div>
                    
                </div>
            </form>
            </div>
            <div class="col-1">

            </div>
        </div>
    </div>
</div>

{% endblock %}